
<h1> <%= @company.name %></h1>
<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Catchphrase</th>
        <th>Suffix</th>

    </tr>
        <tbody>
            <tr>
                <td><%= @company.name %> </td>
                <td><%= @company.catch_phrase %> </td>
                <td><%= @company.suffix %> </td>
           </tr>
        </tbody>
  </table>
